<!DOCTYPE html>

<head>
    <title> Tech Talk</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Dashboard</li>
            <li><a href="/views/login.handlebars">Login</a></li>
            <li><a href="">Logout</a></li>
        </ul>

        <h1>TECH Talk</h1>
    </nav>

<main>
    {{{body}}}
</main>
</body>