<!DOCTYPE html>

<head>
    <title> Tech Talk</title>
</head>

<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Login</li>
            <li>Logout</li>
        </ul>

        <h1>TECH Talk</h1>
    </nav>

<main>
    {{{body}}}
</main>
</body>