<div>
    <h2>Welcome Back!</h2>
    <form>
        <label>Email:</label>
        <input type="text" required/>

        <label>Password:</label>
        <input type="text" required/>

        <button type="submit">Login</button>
    </form>

    
</div>