<div>
    <h2>Welcome Back!</h2>
    <form>
        <label>Email:</label>
        <input required/>

        <label>Password:</label>
        <input required/>

        <button>Login</button>
    </form>
</div>