<div>
    <h2> Join TECH talk</h2>

    <form>
        <label>First Name:</label>
        <input type="text" required/>

        <label>Last Name:</label>
        <input type="text" required/>

        <label>Email:</label>
        <input type="email" required/>

        <label>Username:</label>
        <input type="text" required/>

        <label>Password:</label>
        <input type="password" required/>

          <button type="submit">Signup</button>
    </form>
</div>